<!-- profile-edit-dialog.component.html -->
<h2 mat-dialog-title>Editar Perfil</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput [(ngModel)]="data.username" placeholder="Usuario">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.firstName" placeholder="Nombre">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="data.lastName" placeholder="Apellido">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Correo electrónico</mat-label>
    <input matInput [(ngModel)]="data.email" placeholder="Correo electrónico">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput [(ngModel)]="data.password" placeholder="Contraseña">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ubicación</mat-label>
    <input matInput [(ngModel)]="data.location" placeholder="Ciudad">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
